@import "variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
#app {
  overflow: hidden;
}

// background settings
#night {
  background-image: url($night-background-url);
}
#morning {
  background-image: url($morning-background-url);
}
#afternoon {
  background-image: url($afternoon-background-url);
}
#evening {
  background-image: url($evening-background-url);
}
.background-image {
  filter: brightness(0.6) blur(5px);
  position: fixed;
  left: -12px;
  width: 105vw;
  height: 105vh;
  z-index: -100;
  background-repeat: no-repeat;
  background-size: cover;
}
#icon {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));
}
.dark #icon {
  filter: drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.5));
}

// change design dependencies
.dark > div {
  background-color: $dark-blue-color;
}
.dark p,
.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6,
.dark a,
.dark span,
.dark > .weather-vidget input {
  color: $light-grey-color;
}
.dark > .weather-vidget .weather-main,
.dark > .weather-vidget input {
  background-color: $light-blue-color;
}

// general properties for text
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
input {
  color: $dark-blue-color;
  text-decoration: none;
  font-weight: 400;
  font-size: $main-text-size;
}
nav > a {
  user-select: none;
}
nav {
  position: fixed;
  z-index: 300;
  background-color: $dark-blue-color;
  padding: 12px;
  width: 100vw;
}
.nav-links {
  width: 100%;
  max-width: 500px;
  min-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links > a {
  color: white;
}
[class$="-vidget"] {
  background-color: $light-grey-color;
  padding: 55px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
[class^="search-bar"] {
  background-color: $white-color;
  box-shadow: 0px 6px 16px rgba(5, 5, 5, 0.14);
}
[class^="search-bar"] > input {
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 7px 25px;
}
[class^="search-bar"] > input:focus-visible {
  outline: none;
}
