// used background urls
$morning-background-url: "../images/morning-background-image.jpg";
$afternoon-background-url: "../images/afternoon-background-image.jpg";
$evening-background-url: "../images/evening-background-image.jpg";
$night-background-url: "../images/night-background-image.jpg";

// used colors
$dark-blue-color: #011E36;
$light-blue-color: #075393;
$light-grey-color: #EFEFEF;
$white-color: #FFFFFF;

// used font sizes
$main-text-size: 14px;
$biggest-text-size: 38px;
$big-title-text-size: 22px;
$small-title-text-size: 18px;
