// used background urls
$morning-background-url: "@/assets/images/divine_sky_by_bisbiswas_dezagej-fullview.jpg";
$afternoon-background-url: "";
$evening-background-url: "";
$night-background-url: "";

// used colors
$dark-blue-color: #011E36;
$light-blue-color: #075393;
$light-grey-color: #EFEFEF;
$white-color: #FFFFFF;

// used font sizes
$main-text-size: 14px;
$biggest-text-size: 38px;
$big-title-text-size: 22px;
$small-title-text-size: 18px;
